@import http://fonts.googleapis.com/css?family=Raleway;
/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
#main {
	width:960px;
	margin:50px auto;
	font-family:raleway;
}

.logo
{
	width: 150px;
	height: 150px;
	margin: 10px 10px 20px 90px;
	float: left;
	background-color: #000;
}

.header
{
	width: 950px;
	height: 150px;
	margin: 10px 20px 20px 20px;
	float: left;
	background-color: #FFF;
	font-family: "Comic Sans MS", cursive;
	color: #00F;
	text-shadow: 5px 5px 5px #00CCFF;
	font-style: italic;
	font-weight: bolder;
	font-size: 44px;
}

.header1
{
	width: 375px;
	height: 40px;
	margin: 30px 0px 0px 0px;
	float: right;
	background-color: #FFF;
	font-family: "Comic Sans MS", cursive;
	color: #00F;
	font-size: 20px;
	font-style: normal;
	text-shadow: none;
}

span {
    color:red;
}

h3 {
	text-align:center;
	margin:-10px -40px;
	padding:15px;
}

.form {
    position: relative;
    z-index: 1;
    background: #00DFFF;
    width: 324px;
    height: 180px;
    float:left;
    margin: 10px 20px 0px 300px;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
}

.form .image {
    background: #FFF;
    width: 150px;
    height: 150px;
    margin: 0 auto 30px;
    padding: 20px 20px 20px 20px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    box-sizing: border-box;
}

hr {
	border:0;
	border-bottom:1px solid #ccc;
	margin:10px -40px;
	margin-bottom:30px
}

#login {
	width:300px;
	float:left;
	border-radius:10px;
	background-color: #00DFFF;
	font-family:raleway;
	border:2px solid #00DFFF;
	padding:10px 40px 25px;
	margin:20px 20px 0px -30px;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

input[type=text],input[type=password] {
	width:99.5%;
	padding:10px;
	margin-top:8px;
	border:1px solid #ccc;
	padding-left:5px;
	font-size:16px;
	font-family:raleway;
	border-radius: 3px;
}

input[type=submit] {
	width:100%;
	background-color:#FFBC00;
	color:#fff;
	border:2px solid #FFCB00;
	padding:10px;
	font-size:20px;
	cursor:pointer;
	border-radius:5px;
	margin-bottom:15px;
}

#profile {
	padding:50px;
	border:1px dashed gray;
	font-size:20px;
}

#logout {
	float:right;
	padding:5px;
	border:dashed 1px gray;
}

a {
	text-decoration:none;
	color:#6495ed;
}

i {
    color:#6495ed;
}

.message {
    margin: 15px 0px 0px;
    color: #2A1FFF;
    font-size: 14px;
}

.message a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.footer
{
	float: left;
	font-weight: 50px;
	margin: 320px 10px 10px 570px;
}
